/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(234, 159, 159);
} */

.top img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 100%;
}

.obj-pg{
    padding-left: 10px;
}



.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.mid{
    margin-top: -10px;
    font-size: 80%;
}

.bottom{
    margin-left: 20px;
    font-size: 70%;
}

.rectangular-block {
    width: 250px;
    /* Width of the block */
    /* height: 150px; */
    /* Height of the block */
    background-color: white;
    /* Background color */
    border: 2px solid white;
    /* Border */
    border-radius: 10px;
    padding: 10px 0px;
    /* Rounded corners */
}